<section class="max-w-7xl mx-auto mb-10">
    <div class="block mb-4">
        <title-section set-title="Ultimas noticias"></title-section>
    </div>
    <div class="block">
        <ul class="grid grid-cols-12 gap-4">
            {% for news in data.news %}
            <li class="col-span-4 h-full">
                <card-new
                    image-src="{{ news.img['#markup'] }}"
                    category="{{ news.category['#markup'] }}"
                    url="{{ news.url['#markup'] }}"
                    title="{{ news.title['#markup'] }}"
                    description="{{ news.subtitle['#markup'] }}"
                    date="{{ news.date['#markup'] }}">
                </card-new>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>